h1, h2, h3, h4, h5, h6 {
    color: #159957;
    font-family: sans-serif;
    font-weight: 400;
}

a {
    color: #159957;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-family: sans-serif;
}

code, .py, .js {
    font-family: monospace, monospace;
    font-size: 0.93em;
}

code {
    background-color: unset;
    border-width: 0;
}

.py, .js {
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(240, 240, 240);
}

.wy-nav-side {
    height: calc(100% - 20px);
    overflow: hidden;
    position: fixed;
}

.wy-nav-side .wy-menu {
    height: calc(100% - 70px);
    overflow: auto;
}

.wy-nav-top .fa-bars {
    margin: 8px 0 0 0;
}

.wy-nav-top, .wy-nav-side, .wy-side-nav-search {
    background-color: #343131;
}

.rst-versions {
    display: none;
}

.wy-side-nav-search, input[type=text] {
    border-radius: 0;
    border-width: 0;
    border-color: white;
}